<h2 id="create-new-rest">Create a new restaurant</h2>
<div class="form-wrapper">
  <%= form_for @restaurant do |f| %>
    <div class="text-box"><%= f.label :name %></div>
    <div class="text-box"><%= f.text_field :name %></div>
    <div class="text-box"><%= f.label :description %></div>
    <div class="text-box"><%= f.text_area :description %></div>
    <div id="submit"><%= f.submit %></div>
  <% end %>
</div>

<% if @restaurant.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved: </h2>
    <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
