<div><%= @restaurant.name %>
Average Rating: <%= @restaurant.average_rating %>
Description: <%= @restaurant.description %></p>
<% @restaurant.reviews.each do |review| %>
<div id="rating"> <em>"<%= review.comment %>"</em> <br> Rating: <%= review.rating %> Stars</div>
<% end %>
<a class="button" href="/restaurants/<%= @restaurant.id %>/reviews/new">Review <%= @restaurant.name %></a></div>
