<h2><%= @restaurant.name %></h2>
<h3>Average Rating: <%= @restaurant.average_rating %></h3>
<h3>Description: <%= @restaurant.description %></h3></p>
<% @restaurant.reviews.each do |review| %>
<div id="rating"> <em>"<%= review.comment %>"</em> <br> Rating: <%= review.rating %> Stars</div>
<% end %>
<a class="button" href="/restaurants/<%= @restaurant.id %>/reviews/new">Review <%= @restaurant.name %></a>
