<div><%= @restaurant.name %>
Average Rating: <%= @restaurant.average_rating %>
Description: <%= @restaurant.description %></p>

<% if user_signed_in? %>
  <%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %>
  <%= link_to "Delete #{@restaurant.name}", restaurant_path(@restaurant), method: :delete %></div>
<% end %>

<% @restaurant.reviews.each do |review| %>
<div id="rating"> <em>"<%= review.comment %>"</em> <br> Rating: <%= review.rating %> Stars</div>
<% end %>
<a class="button" href="/restaurants/<%= @restaurant.id %>/reviews/new">Review <%= @restaurant.name %></a></div>
